
    <div class="modalbox">
       <div class="box_inner">
          <div class="close">
             <a href="#"><img class="svg" src="../../assets/images/svg/cancel.svg" alt="" /></a>
          </div>
          <div class="description_wrap"></div>
       </div>
    </div>

    <div class="mobile_menu">
       <div class="mobile_menu_inner">
          <div class="mobile_in">
             <div class="logo">
                <a href="#"><img src="../../assets/images/logo/dark.png" alt="" /></a>
             </div>
             <div class="trigger">
                <div class="hamburger hamburger--slider">
                   <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="dropdown">
          <div class="dropdown_inner">
             <app-menu></app-menu>
          </div>
       </div>
    </div>
    
    <div class="header">
       <div class="container">
          <div class="inner">
             <div class="menu">
               <app-menu></app-menu>
             </div>
          </div>
       </div>
    </div>
