
    <div class="settings">
       <div class="icon">
          <img class="svg" src="../../assets/images/svg/setting.svg" alt="" />
          <a class="link" href="#"></a>
       </div>
       <div class="wrapper">
          <span class="title">Unlimited Colors</span>
          <ul class="colors">
             <li><a class="blue" href="#"></a></li>
             <li><a class="green" href="#"></a></li>
             <li><a class="brown" href="#"></a></li>
             <li><a class="pink" href="#"></a></li>
             <li><a class="orange" href="#"></a></li>
             <li class="bl"><a class="black" href="#"></a></li>
             <li class="wh"><a class="white" href="#"></a></li>
             <li><a class="purple" href="#"></a></li>
             <li><a class="sky" href="#"></a></li>
             <li><a class="cadetBlue" href="#"></a></li>
             <li><a class="crimson" href="#"></a></li>
             <li><a class="olive" href="#"></a></li>
             <li><a class="red" href="#"></a></li>
          </ul>
          <span class="title">Magic Cursor</span>
          <ul class="cursor">
             <li><a class="showme show" href="#"></a></li>
             <li><a class="hide" href="#"><img class="svg" src="../../assets/images/svg/arrow.svg" alt="" /></a></li>
          </ul>
       </div>
    </div>
    <div class="modalbox">
       <div class="box_inner">
          <div class="close">
             <a href="#"><img class="svg" src="../../assets/images/svg/cancel.svg" alt="" /></a>
          </div>
          <div class="description_wrap"></div>
       </div>
    </div>
    <div class="mobile_menu">
       <div class="mobile_menu_inner">
          <div class="mobile_in">
             <div class="logo">
                <a href="#"><img src="../../assets/images/logo/dark.png" alt="" /></a>
             </div>
             <div class="trigger">
                <div class="hamburger hamburger--slider">
                   <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="dropdown">
          <div class="dropdown_inner">
             <app-menu></app-menu>
          </div>
       </div>
    </div>
    <div class="header">
       <div class="container">
          <div class="inner">
             <div class="logo">
                <a class="light" href="#"><img src="../../assets/images/logo/logo.png" alt="" /></a>
                <a class="dark" href="#"><img src="../../assets/images/logo/dark.png" alt="" /></a>
             </div>
             <div class="menu">
               <app-menu></app-menu>
             </div>
          </div>
       </div>
    </div>
