<div class="section">
    <div class="copyright">
       <div class="container">
          <div class="copyright_inner">
             <div class="bottom">
                <div class="left">
                   <p>Designed and Developed with love by <a class="line_anim" href="" target="_blank">Navtosh Adhikari</a> &copy; 2021</p>
                </div>
                <div class="social">
                  <span>Connect</span>
                  <ul>
                     <li><a href="#"><i class="icon-facebook-1"></i></a></li>
                     <li><a href="#"><i class="icon-twitter-1"></i></a></li>
                     <li><a href="#"><i class="icon-instagram-3"></i></a></li>
                  </ul>
               </div>
             </div>
             
          </div>
       </div>
       <span class="square moving_effect" data-direction="x">
       <a class="totop" href="#">
       <img class="svg one" src="../../assets/images/svg/arrow-top.svg" alt="" />
       <img class="svg two" src="../../assets/images/svg/arrow-top.svg" alt="" />
       </a>
       </span>
    </div>
 </div>