<div class="navtosh_section">
    <div class="navtosh_copyright">
       <div class="container">
          <div class="copyright_inner">
             <div class="top">
                <div class="logo">
                   <img src="../../assets/images/logo/logo.png" alt="" />
                </div>
                <div class="social">
                   <span>Connect</span>
                   <ul>
                      <li><a href="#"><i class="icon-facebook-1"></i></a></li>
                      <li><a href="#"><i class="icon-twitter-1"></i></a></li>
                      <li><a href="#"><i class="icon-instagram-3"></i></a></li>
                   </ul>
                </div>
             </div>
             <div class="bottom">
                <div class="left">
                   <p>Designed with love by <a class="line_anim" href="https://themeforest.net/user/marketify" target="_blank">Marketify</a> &copy; 2021</p>
                </div>
                <div class="right">
                   <ul>
                      <li><a class="line_anim" href="#">Terms &amp; Condition</a></li>
                      <li><a class="line_anim" href="#">Privacy Policy</a></li>
                      <li><a class="line_anim" href="#">Support</a></li>
                   </ul>
                </div>
             </div>
             <span class="border moving_effect" data-direction="y" data-reverse="yes"></span>
          </div>
       </div>
       <span class="square moving_effect" data-direction="x">
       <a class="totop" href="#">
       <img class="svg one" src="../../assets/images/svg/arrow-top.svg" alt="" />
       <img class="svg two" src="../../assets/images/svg/arrow-top.svg" alt="" />
       </a>
       </span>
    </div>
 </div>