<div class="navtosh_section" id="about">
    <div class="navtosh_about">
       <div class="about_inner">
          <div class="left">
             <div class="image">
                <img src="../../assets/images/thumbs/45-49.jpg" alt="" />
                <div class="main" data-img-url="../../assets/images/about/1.jpg"></div>
                <span class="square moving_effect" data-direction="y" data-reverse="yes"></span>
                <span class="border"><span class="in moving_effect" data-direction="x" data-reverse="yes"></span></span>
             </div>
          </div>
          <div class="center">
             <div class="title wow fadeInUp" data-wow-duration="1s">
                <span class="small">About Me</span>
                <h3>I'm <span>Navtosh</span></h3>
                <h3>Mobile and Web <span>UI Developer</span></h3>
                <span class="subtitle">Based in Gzb, UK</span>
             </div>
             <div class="text wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                <p>Hi! My name is Navtosh Adhikari. I am UI/UX developer, and I'm very passionate and dedicated to my work.</p>
                <p>With 8+ years experience as a professional UI developer, I have acquired the skills and knowledge necessary to make your project a success.</p>
             </div>
             <div class="navtosh_button wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <a href="../../assets/images/cv/1.jpg" download><span>Download CV <img class="svg" src="../../assets/images/svg/download.svg" alt="" /></span></a>
             </div>
          </div>
          <div class="right">
             <div class="image">
                <img src="../../assets/images/thumbs/41-61.jpg" alt="" />
                <div class="main" data-img-url="../../assets/images/about/2.jpg"></div>
                <div class="square moving_effect" data-direction="x" data-reverse="no"></div>
             </div>
          </div>
       </div>
    </div>
 </div>