<div class="navtosh_section" id="contact">
    <div class="navtosh_contact">
       <div class="container">
          <div class="navtosh_main_title" data-text-align="center" data-color="dark">
             <span>Get in Touch</span>
             <h3>Connect with Me with Confidence</h3>
          </div>
          <div class="contact_inner">
             <div class="left wow fadeInLeft" data-wow-duration="1s">
                <div class="text">
                   <p>Please fill out the form on this section to contact with me. Or call between 9:00 a.m. and 8:00 p.m. ET, Monday through Friday</p>
                </div>
                <ul>
                   <li>
                      <div class="list_inner">
                         <img class="svg" src="../../assets/images/svg/call.svg" alt="" />
                         <span>Call me</span>
                         <h3>+1234 5678 9000</h3>
                      </div>
                   </li>
                   <li>
                      <div class="list_inner">
                         <img class="svg" src="../../assets/images/svg/message.svg" alt="" />
                         <span>Email</span>
                         <h3><a class="line_anim" href="https://marketifythemes.net/cdn-cgi/l/email-protection#472f222b2b280726262b2e6924282a"><span class="__cf_email__" data-cfemail="b6ded3dadad9f6d7d7dadf98d5d9db">[email&#160;protected]</span></a></h3>
                      </div>
                   </li>
                </ul>
             </div>
             <div class="right wow fadeInRight" data-wow-duration="1s">
                <div class="fields">
                   <form action="https://marketifythemes.net/" method="post" class="contact_form" id="contact_form" autocomplete="off">
                      <div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
                      <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                      <div class="input_list">
                         <ul>
                            <li><input id="name" type="text" placeholder="Your Name" /></li>
                            <li><input id="email" type="text" placeholder="Your Email" /></li>
                            <li><input id="phone" type="number" placeholder="Your Phone" /></li>
                         </ul>
                      </div>
                      <div class="message_area">
                         <textarea id="message" placeholder="Your message here"></textarea>
                      </div>
                      <div class="navtosh_button">
                         <a id="send_message" href="#"><span>Submit Message <img class="svg" src="../../assets/images/svg/send.svg" alt="" /></span></a>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
       <span class="square moving_effect" data-direction="y" data-reverse="yes"></span>
    </div>
 </div>