<div class="navtosh_section">
    <div class="navtosh_skills">
       <div class="container">
          <div class="skills_inner">
             <div class="left wow fadeInLeft" data-wow-duration="1s">
                <div class="navtosh_main_title" data-text-align="left" data-color="light">
                   <span>My Skills</span>
                   <h3>You Can Imagine<br /> I Can Do</h3>
                   <!-- <p>I am working on a professional, visually sophisticated and technologically proficient, responsive and multi-functional creative personal resume portfolio template Aali</p> -->
                </div>
             </div>
             <div class="right wow fadeInRight" data-wow-duration="1s">
                <div class="dodo_progress">
                   <div class="progress_inner" data-value="86">
                      <span><span class="label">Website UI Development</span><span class="number">86%</span></span>
                      <div class="background">
                         <div class="bar">
                            <div class="bar_in"></div>
                         </div>
                      </div>
                   </div>
                   <div class="progress_inner" data-value="90">
                      <span><span class="label">Mobile UI Development</span><span class="number">80%</span></span>
                      <div class="background">
                         <div class="bar">
                            <div class="bar_in"></div>
                         </div>
                      </div>
                   </div>
                   <!-- <div class="progress_inner" data-value="66">
                      <span><span class="label">Creative</span><span class="number">66%</span></span>
                      <div class="background">
                         <div class="bar">
                            <div class="bar_in"></div>
                         </div>
                      </div>
                   </div> -->
                </div>
             </div>
          </div>
       </div>
       <span class="border moving_effect" data-direction="x" data-reverse="yes"></span>
    </div>
 </div>