<div class="navtosh_section" id="testimonial">
    <div class="navtosh_testimonials">
       <div class="left">
          <div class="image">
             <img src="../../assets/images/hero/2.png" alt="" />
          </div>
       </div>
       <div class="right">
          <div class="right_in">
             <div class="navtosh_main_title" data-text-align="left" data-color="light">
                <span>Testimonial</span>
                <h3>What People Say</h3>
             </div>
             <ul class="owl-carousel">
                <li class="item">
                   <div class="text">
                      <p>I had a problem finding something, asked the support team, got a reply and a solution within a few minutes. Brilliant support! Very happy with the website I bought.</p>
                   </div>
                   <div class="name">
                      <h3>Tom Anderson, <span>Customer</span></h3>
                   </div>
                </li>
                <li class="item">
                   <div class="text">
                      <p>Good overall template. I am getting back into coding and had a simple question for the author. They responded within 5 minutes and answered my question. Highly recommend!</p>
                   </div>
                   <div class="name">
                      <h3>Jessica Parker, <span>App Developer</span></h3>
                   </div>
                </li>
                <li class="item">
                   <div class="text">
                      <p>I can't believe I got support and my problem resolved in just minutes from posting my question. Simply amazing team and amazing theme! Thank you for all!</p>
                   </div>
                   <div class="name">
                      <h3>MacLaren, <span>Freelancer</span></h3>
                   </div>
                </li>
             </ul>
             <div class="direct">
                <a class="prev_button" href="#"><i class="icon-left"></i></a>
                <a class="next_button" href="#"><i class="icon-right"></i></a>
             </div>
          </div>
       </div>
       <span class="border"><span class="in moving_effect" data-direction="x" data-reverse="yes"></span></span>
       <span class="square moving_effect" data-direction="y" data-reverse="yes"></span>
       <span class="quote moving_effect" data-direction="x"><i class="icon-quote-left"></i></span>
    </div>
 </div>