<div id="preloader" style="display: none;">
   <div class="loader_line"></div>
</div>
<div class="navtosh_all_wrap" data-magic-cursor="show" data-color="crimson">
   <app-header></app-header>
   <app-banner></app-banner>
   <app-about-me></app-about-me>      
   <app-skills></app-skills>
   <app-portfolio></app-portfolio> 
   <app-services></app-services>   
   <app-resume></app-resume>
   <app-testimonial></app-testimonial> 


   <div class="navtosh_section" id="blog">
   <div class="navtosh_news">
      <div class="container">
         <div class="navtosh_main_title" data-text-align="center" data-color="dark">
            <span>Latest Updates</span>
            <h3>From My Blog</h3>
            <p>We offer high quality products for competitive prices. Our main goal is customer satisfaction</p>
         </div>
         <div class="news_list">
            <ul>
               <li class="wow fadeInLeft" data-wow-duration="1s">
                  <div class="list_inner">
                     <div class="image">
                        <img src="../../assets/images/thumbs/42-29.jpg" alt="" />
                        <div class="main" data-img-url="../../assets/images/news/1.jpg"></div>
                        <a class="navtosh_full_link" href="#"></a>
                     </div>
                     <div class="details">
                        <span class="category"><a href="#">Web Design</a></span>
                        <h3 class="title"><a href="#">How to create simple personal website</a></h3>
                        <span class="date">November 10, 2021</span>
                     </div>
                     <div class="button">
                        <div class="navtosh_learn_more">
                           <a href="#">Full Story</a>
                        </div>
                     </div>
                     <div class="news_hidden_details">
                        <div class="news_popup_informations">
                           <div class="text">
                              <p>Aali is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                              <p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                              <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="wow fadeInRight" data-wow-duration="1s">
                  <div class="list_inner">
                     <div class="image">
                        <img src="../../assets/images/thumbs/42-29.jpg" alt="" />
                        <div class="main" data-img-url="../../assets/images/news/2.jpg"></div>
                        <a class="navtosh_full_link" href="#"></a>
                     </div>
                     <div class="details">
                        <span class="category"><a href="#">Development</a></span>
                        <h3 class="title"><a href="#">What is mobile app and web design</a></h3>
                        <span class="date">October 22, 2021</span>
                     </div>
                     <div class="button">
                        <div class="navtosh_learn_more">
                           <a href="#">Full Story</a>
                        </div>
                     </div>
                     <div class="news_hidden_details">
                        <div class="news_popup_informations">
                           <div class="text">
                              <p>Aali is a leading web design agency with an award-winning design team that creates innovative, effective websites that capture your brand, improve your conversion rates, and maximize your revenue to help grow your business and achieve your goals.</p>
                              <p>In today’s digital world, your website is the first interaction consumers have with your business. That's why almost 95 percent of a user’s first impression relates to web design. It’s also why web design services can have an immense impact on your company’s bottom line.</p>
                              <p>That’s why more companies are not only reevaluating their website’s design but also partnering with Kura, the web design agency that’s driven more than $2.4 billion in revenue for its clients. With over 50 web design awards under our belt, we're confident we can design a custom website that drives sales for your unique business.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   </div>
   <div class="navtosh_section">
   <div class="navtosh_counter">
      <div class="container">
         <div class="counter_list">
            <ul class="wow fadeIn" data-wow-duration="1s">
               <li>
                  <div class="list_inner">
                     <div class="wrapper">
                        <div class="value">
                           <span class="abs"><span class="tm_counter" data-from="0" data-to="5" data-speed="1200">0</span><label class="big">K</label></span>
                        </div>
                        <div class="text">
                           <h3>JavaScript<br />Projects</h3>
                        </div>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="list_inner">
                     <div class="wrapper">
                        <div class="value">
                           <span class="abs"><span class="tm_counter" data-from="0" data-to="90" data-speed="1200">0</span><label class="small">+</label></span>
                        </div>
                        <div class="text">
                           <h3>Digital<br />Products</h3>
                        </div>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="list_inner">
                     <div class="wrapper">
                        <div class="value">
                           <span class="abs"><span class="tm_counter" data-from="0" data-to="300" data-speed="1200">0</span><label class="small">+</label></span>
                        </div>
                        <div class="text">
                           <h3>Happy<br />Clients</h3>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
      <span class="border moving_effect" data-direction="x"></span>
   </div>
   </div>

   <app-connect></app-connect>
   <app-footer></app-footer>
   <div class="mouse-cursor cursor-outer"></div>
   <div class="mouse-cursor cursor-inner"></div>
</div>
